/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #000;
    font-family: sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/20/19/30/dice-3095227_1280.jpg);
    background-size: cover;
}

/* UTILITIES */

.btn-start{
    min-width:100px;
    padding: 5px;
    color: #fff;
    background-color: #1f3b81;
    border: 1px solid #2e2504;
    border-radius:10px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.btn-start.email{
    color: #fff;
    background-color: #8ca5e6;
    margin-top: 20px;

}

h1{
    color: #760105;
    margin-top:15px;
}
h2{
    color: #fff;
    margin-bottom: 20px;
}

h3{
    color: #1f3b81;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    position:relative;
}

.box{
    display: flex;
    margin-top:30px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #f8c100;
    background-color: rgba(0, 0, 0, .3);
}


#controllo{
    min-width:200px;
    margin-top: 20px;
    color: #fff;
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

